

header{
    background-color: darkslategrey;

    height: 70px;
    padding: 10px;

}

nav{
    text-align: end;

    margin-left: 40px;
    margin-right: 40px;

}

body{

    background-color: rgb(60, 60, 60);
    color:#f4f4f4;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /*16px = default*/
    font-weight: normal;

    /* same as above just shorter*/
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}

footer{

    background-color: darkslategrey;
    color: #f4f4f4;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /*16px = default*/
    font-weight: normal;
    
}

a{
    color: lightcyan;
}


/* Style Classes */

.header_container{
    display: flex;
    align-items: center; /* vertikale Zentrierung */
    justify-content: space-between; /* Abstand zwischen h1 und nav */
}

.header_logoText{

    font-weight: bold;


}

nav a.nav_item{
    background-color: darkslategray;
    color: white;

    text-decoration: none;

    border: 1px solid white;
    border-radius: 0.5em;
    padding: 15px;
    margin-left: 0.5rem;
    width: 10em;
}

.container{
    width: 80%;
    margin: auto;
}


.container_image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer{
    height: 800px;

}


.container_footer{
    width: 90%;
    margin: auto;
}

/* Progesseion Box */
.outer {
  border: 3px solid white;
}

.box {
  padding: 5px;
  width: calc(4%);
  background-color: darkcyan;
  color: white;
}

